@{
    ViewBag.Title = "Home Page";
}
<div id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active" style="background: url(/public/img/brewery-back1.jpg) 50% 27%;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="carousel-content">
                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pattern"></div>
    </div>

</div>

<div id="featured">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-title">
                    <h2>Integration Options</h2>
                    
                </div>
            </div>
        </div>
       
    </div>
</div>

<div id="tagline">
    <div class="container">
        
        
    </div>
</div>

<div id="catalogue">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
       
    </div>
</div>

<div id="blog">
    <div class="container">
        <div class="row">
            
        </div>
        
    </div>
</div>
<!-- end:blog -->

<div id="footer">
    <div class="container">
        <div class="row">
           
            </div>
        </div>
    </div>
</div>